:root {
    --primary-color: #717A7B;
    --heading-font-family: 'Cormorant Garamond', serif;
    --default-font-family: 'Ubuntu', sans-serif;
}

body {
    background-color: #122223;
}

.about-section {
    background-image: url(/images/background2.jpg);
    background-repeat: no-repeat;
    background-size: 700px;
} 
.about-section h2 {
    margin-top: 15px;
    font-size: 38px;
}
 
.about-section p {
    text-align: left;
    padding: 0;
    font-size: 18px ;
}
.about-section a{ 
    margin-top: 10px;
    margin-bottom: 20px;
    
}
.content-container {
    background-color: #ffd9b6;
} 
.content-container h1 {
    color: #353535;
    font-size: 44px;
    text-align: center;

}
.content-container h3 {
    text-align: center;
    color: #353535;
    font-size: 28px ;
    margin: 20px, 0, 0;
}
.content-container p {
    text-align: center;
    font-family: var(--heading-font-family) ;
    padding: 0;
    font-size: 14px;
color: #353535;
opacity: 0.9;


}
.contact-me {
    background-image: url(/images/background6.jpg);
    padding-bottom: 30px;
   
    
    
   
}
.contact-me h1 {
    color: #353535;
    text-align: center;
    margin-top: 80px;
   padding-top: 30px;
   
    
} 
.contact-me h3 {
    color: #353535;
    text-align: center;
   

   
}
.contact-me a {
    color:#717A7B;
    text-decoration: none;
    background-color: #ffd9b6;
}
.contact-me p {
    padding: 0;
    font-family: var(--heading-font-family);
   
}




h1 {
    color: #FFFFFF;
    font-family: var(--heading-font-family);
    font-size: 86px;
    
}
h3, h2 {
    color: var(--primary-color);
    font-family: var(--heading-font-family);
}
h2 {
   font-size: 48px; 
   line-height: 1.5;
   margin-bottom: 20px;
}
h3 {
    font-size: 32px;  
}
p {
    color: var(--primary-color);
    font-family: var(--default-font-family);
    text-align: center;
  padding: 80px;
    font-size: 22px;
}
.hero {
    text-align: center;
    padding: 100px 20px;
}
.btn-light {
    background-color: #122223;
    font-size: 20px;
    line-height: 27px;
    font-family: var(--heading-font-family);
    color: #ffd9b6;
     border: 1px solid #ffd9b6;
     padding: 15px 30px ;
  
    

}

.btn-light:hover {
    background-color: #ffd9b6;
     color: #353535;
    border: none;
    border-radius: 4px;
    font-size: 20px;
    font-family: var(--heading-font-family);
    line-height: 27px;
    padding: 15px 30px ;
    text-decoration: underline;
    
    
  

}

.projects {
    background-color: #ffd9b6; 
    margin: 20px 50px;

    
    
}
.projects h2 {
    color: #353535;
}
.projects p {
    color: #353535; 
    font-size: 18px; 
    padding: 10px;
    line-height: 1.7;
    opacity: 0.8;
}
.btn-branding {
    line-height: 27px;
    font-size: 20px;
    padding: 15px 30px ;
    margin-bottom: 30px;
    color: #353535;
    border: 1px solid #353535;
}
.btn-branding:hover {
    background-color: #122223;
    font-size: 20px;
    line-height: 27px;
    font-family: var(--default-font-family);
    color: #ffd9b6;
    
    
}
img {
    margin: 10px 0;
}

@media (max-width: 600px) {
   h1 {
    font-size: 60px;
   }
   h2 {
    font-size: 44px;
    
   }
   .hero {
    padding: 80px 20px;
   }
p {
    padding: 20px;
}
.projects {
    margin: 0;
    padding: 0;
    
}
.about-section {
    text-align: center;
}
.about-section p{
    text-align: center;
    
}
.about-section a{ 
    margin-top: 20px;
    margin-bottom: 0;
}

}