body {
    background-color: #122223;
}
h1 {
    color: #FFFFFF;
    font-family: 'Cormorant Garamond', serif;
}
h2 {
    color: #717A7B;
    font-family: 'Cormorant Garamond', serif;
}
p {
    color: #717A7B;
    font-family: 'Ubuntu', sans-serif;
}